$white: #ffffff;
$light_blue: #38AEF0;
$black: #434A54;
$light_gray: #999999;
$alert_orange: #F35500;

$message_user_size: 16px;
$message_size: 14px;
$update_time_size: 11px;
$left_group: 15px;
$left_message: 11px;